.footer{
	position: relative;
	z-index: 5;
	background: #FC4C4D;
	padding: 2.3958vw 0 12.3438vw;

	&:before{
		content: '';
		display: block;
		width: 100%;
		height: 8.4375vw;
		background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 162'%3E%3Cpath fill='%23fff' d='M0 0h1920v161.45H0z'/%3E%3Cpath d='M0 160C30.4 155.74 1439.4-41.14 1920 7.82V162H0v-2z' fill='%23FC4C4D'/%3E%3C/svg%3E") no-repeat center top / cover;
		position: absolute;
		left: 0;
		top: 0;

		.odd-count &,
		.single &{
			background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 162'%3E%3Cpath fill='%23FFF5E6' d='M0 0h1920v161.45H0z'/%3E%3Cpath d='M0 160C30.4 155.74 1439.4-41.14 1920 7.82V162H0v-2z' fill='%23FC4C4D'/%3E%3C/svg%3E");
		}
	}

	.container{
		position: relative;
		z-index: 2;
	}

	.footer-info{
		color: #fff;
		font-size: 1.0417vw;
		line-height: 1.3;
		font-weight: 600;
		margin-bottom: 1.0938vw;

		.info-caption{
			font-weight: bold;
		}

		a{
			color: inherit;
		}
	}

	@media screen and (max-width: 991px){
		padding: 8.3333vw 0 44.4444vw;

		.footer-info{
			font-size: 5.5556vw;
			margin-bottom: 2.2222vw;
		}
	}
}

.subscribe-form{
	margin-bottom: 2.0833vw;
	max-width: 23.0208vw;

	.form-caption{
		font-size: 1.0417vw;
		line-height: 1.3;
		font-weight: 600;
		margin-bottom: 0.5208vw;
		color: #fff;
	}

	.form-fields{
		display: flex;

		.form-button{
			display: flex;
			align-items: center;
			justify-content: center;
			flex: none;
			padding: 0.5208vw 2.4479vw;
			height: 2.6042vw;
			background: #fff;
			font-size: 1.0417vw;
			line-height: 1.3;
			font-weight: 600;
			color: #1D2D20;
			margin-right: 0.3646vw;
		}

		.form-field{
			background: transparent;
			border: 0.1042vw solid #fff;
			padding: 0 0.9896vw;
			color: #fff;
			font-size: 1.0417vw;
			line-height: 1.3;
			font-weight: 600;
			font-family: inherit;
			height: 2.6042vw;
			outline: none !important;

			&::placeholder{
				color: #DCD7D7;
				opacity: 1;
			}
		}
	}

	@media screen and (max-width: 991px){
		margin-bottom: 7.5000vw;
		max-width: unset;

		.form-caption{
			font-size: 4.4444vw;
			line-height: 5.8333vw;
			margin-bottom: 2.5000vw;
		}

		.form-fields{
			.form-button{
				padding: 2.5000vw 3.0556vw;
				height: 10.8333vw;
				font-size: 4.4444vw;
				line-height: 5.8333vw;
				margin-right: 1.3889vw;
			}

			.form-field{
				border-width: 0.5556vw;
				padding: 0 4.4444vw;
				height: 10.8333vw;
				font-size: 4.4444vw;
				line-height: 5.8333vw;
				flex: auto;
			}
		}
	}
}

.quote-of-a-day{
	color: #070000;

	.block-caption{
		font-size: 1.0417vw;
		line-height: 1.3;
		font-weight: 600;
	}

	.quote-block{
		display: flex;
		align-items: baseline;

		.block-text{
			font-family: $second-font;
			font-size: 3.1250vw;
			line-height: 1;
		}

		.block-author{
			font-size: 1.0417vw;
			line-height: 1.3;
			font-weight: 600;
			margin-right: 0.8333vw;
		}
	}

	@media screen and (max-width: 991px){
		.block-caption{
			font-size: 4.4444vw;
			line-height: 5.8333vw;
		}

		.quote-block{
			flex-direction: column;
			align-items: stretch;

			.block-text{
				font-size: 10vw;
				margin-bottom: 2vw;
			}

			.block-author{
				font-size: 4.4444vw;
				line-height: 5.8333vw;
				margin-right: auto;
			}
		}
	}
}

.sticky-socials{
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 2.1354vw 1.1458vw 6.8229vw;
	background: #BFF0EA;
	z-index: 100;
	transition: background $t;

	&.white-bg{
		background: #fff;
	}

	ul{
		display: grid;
		grid-gap: 1.3542vw;
		justify-content: center;

		a{
			display: block;
			width: 1.9792vw;
			height: 1.8229vw;
			color: #69696A;
			transition: all $t;

			svg{
				display: block;
				width: 100%;
				height: 100%;
				fill: currentcolor;
			}

			&:hover,
			&:focus{
				color: $primary;
			}
		}
	}

	@media screen and (max-width: 991px){
		padding: 1.9444vw 1vw;

		ul{
			grid-gap: 3.3333vw;

			a{
				width: 5.5556vw;
				height: 5.5556vw;
			}
		}
	}
}