@font-face{
	font-family: 'Gulash'; 
	src: url('../fonts/Gulash-Medium_MFW.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 500;
}

@font-face{
	font-family: 'Gulash'; 
	src: url('../fonts/Gulash-Medium_MFW.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 400;
}