.new-single-post-section{
	position: relative;

	.post-info{
		font-size: 1.2500vw;
		line-height: 1.277;
		margin-bottom: 0.7813vw;

		.post-date,
		.post-category{
			display: inline;
		}

		.post-date{
			opacity: .8;
		}

		.addtoany_list > a > span{
			background-color: #69696A !important;
			transition: all $t;
		}
	}

	.post-excerpt{
		font-size: 1.5625vw;
		line-height: 1.333;
		font-weight: 600;
	}

	.post-tags{
		display: flex;
		align-items: center;
		font-size: 1.0417vw;
		line-height: 1.2;
		color: #58785F;
		margin-bottom: 0.8333vw;
		margin-top: 1.6667vw;

		&:before{
			content: '';
			display: block;
			width: 1.0938vw;
			height: 1.2500vw;
			background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 24'%3E%3Cpath d='M9 21a104.23 104.23 0 01-6.71-9.75C1.63 9.95-.4 2.83 2.22 1.09c2.56-1.7 8.72.92 10.58 3.2 0 0 5.82 8 6.64 9.71.9 1.88 1.77 2.81.61 4.76-1.16 1.94-5.51 4.1-6.46 4.42-.95.32-2.96-.24-4.6-2.17z' fill='%235E7A2E'/%3E%3Cpath d='M6.12 7.79a2.5 2.5 0 10-.95-4.9 2.5 2.5 0 00.95 4.9z' fill='%23FFF5E6'/%3E%3C/svg%3E") no-repeat center center / contain;
			margin-left: 0.4167vw;
			flex: none;
		}
	}

	.post-image{
		overflow: hidden;
		margin-bottom: -3.3333vw;
		position: relative;

		&:after{
			content: '';
			display: block;
			width: 49.1146vw;
			height: 5.5208vw;
			background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 943 106'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M942.17 0S234.07 67.1.25 50c.83 2.63-.25 55.26-.25 55.26h942.17V0z' fill='%23FFF5E6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h942.17v105.27H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center bottom / cover;
			position: absolute;
			right: -1.7708vw;
			bottom: -0.3125vw;

			.page &{
				background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 943 106'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M942.17 0S234.07 67.1.25 50c.83 2.63-.25 55.26-.25 55.26h942.17V0z' fill='%23FFF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h942.17v105.27H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
			}
		}

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	.post-text{
		position: relative;
		z-index: 2;
	}

	.quote-block{
		.block-text{
			font-family: $second-font;
			font-size: 2.5vw;
			line-height: 1;
		}

		.block-author{
			font-size: 1.0417vw;
			line-height: 1.3;
			font-weight: 600;
			margin-top: 0.8333vw;
		}
	}

	.default-block{
		width: 100%;
		position: relative;

		&.beige{
			background: #fff5e6;
		}

		> .block-inner{
			width: 51.1979vw;
			margin-left: auto;
			margin-right: auto;

			@media screen and (min-width: 992px){
				&.wide{
					width: 79.1667vw;
				}
			}

			@media screen and (max-width: 991px){
				width: 92vw;
			}
		}
	}

	.post-top-block{
		padding: 0.4167vw 0 1.5625vw;

		&.beige{
			padding-bottom: 3.3333vw;
			+ :not(.beige){
				position: relative;

				&:before{
					content: '';
					display: block;
					width: 100.3646vw;
					height: 3.3854vw;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1927 65'%3E%3Cpath fill='%23fff' d='M0 0h1926.5v64.1H0z'/%3E%3Cpath d='M0 64.1s1447.9-65 1926-48.5c-1.7-2.5.5-15.6.5-15.6H0v64.1Z' fill='%23FFF5E6'/%3E%3C/svg%3E") no-repeat center bottom / cover;
					position: absolute;
					left: 0;
					top: -3.3333vw;
				}
			}
		}

		&:not(.beige){
			+ .beige{
				margin-top: 4.5vw;

				&:before{
					content: '';
					display: block;
					width: 100.0000vw;
					height: 4.7396vw;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 91'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill='%23FFF5E6' d='M0 0h1920v90H0z'/%3E%3Cpath d='M-2 75.5C474.5 98.5 1920 8 1920 8V0H0l-2 90s1.7-11 0-14.5Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h1920v90H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center bottom / cover;
					position: absolute;
					left: 0;
					top: -4.56vw;
				}
			}
		}
	}

	.post-big-image-block{
		padding: 1.5625vw 0 3.3854vw;

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}

		&.beige{
			+ :not(.beige){
				position: relative;

				&:before{
					content: '';
					display: block;
					width: 100.3646vw;
					height: 3.3854vw;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1927 65'%3E%3Cpath fill='%23fff' d='M0 0h1926.5v64.1H0z'/%3E%3Cpath d='M0 64.1s1447.9-65 1926-48.5c-1.7-2.5.5-15.6.5-15.6H0v64.1Z' fill='%23FFF5E6'/%3E%3C/svg%3E") no-repeat center bottom / cover;
					position: absolute;
					left: 0;
					top: -3.2vw;
				}
			}
		}

		&:not(.beige){
			+ .beige{
				&:before{
					content: '';
					display: block;
					width: 100.3646vw;
					height: 3.3854vw;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1927 65'%3E%3Cpath fill='%23FFF5E6' d='M0 0h1926.5v64.1H0z'/%3E%3Cpath d='M0 64.1s1447.9-65 1926-48.5c-1.7-2.5.5-15.6.5-15.6H0v64.1Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center bottom / cover;
					position: absolute;
					left: 0;
					top: -3.2vw;
				}
			}
		}
	}

	.post-text-block{
		padding-bottom: 6.7708vw;

		&.beige{
			+ :not(.beige){
				&:before{
					content: '';
					display: block;
					width: 100.0000vw;
					height: 4.7396vw;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 91'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill='%23FFF' d='M0 0h1920v90H0z'/%3E%3Cpath d='M-2 75.5C474.5 98.5 1920 8 1920 8V0H0l-2 90s1.7-11 0-14.5Z' fill='%23FFF5E6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h1920v90H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center bottom / cover;
					position: absolute;
					left: 0;
					top: -4.56vw;
				}
			}
		}

		&:not(.beige){
			+ .beige{
				&:before{
					content: '';
					display: block;
					width: 100.0000vw;
					height: 4.7396vw;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 91'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill='%23FFF5E6' d='M0 0h1920v90H0z'/%3E%3Cpath d='M-2 75.5C474.5 98.5 1920 8 1920 8V0H0l-2 90s1.7-11 0-14.5Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h1920v90H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center bottom / cover;
					position: absolute;
					left: 0;
					top: -4.56vw;
				}
			}
		}
	}

	.post-player-block{
		padding: 1.0417vw 0 2.3438vw;

		.audio-block{
			margin-left: auto;
			margin-right: auto;

			> .block-inner{
				background: #FDD84B;
			}
		}

		&.beige{
			+ :not(.beige){
				position: relative;
				margin-top: 2vw;

				&:before{
					content: '';
					display: block;
					width: 100.3646vw;
					height: 3.3854vw;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1927 65'%3E%3Cpath fill='%23fff' d='M0 0h1926.5v64.1H0z'/%3E%3Cpath d='M0 64.1s1447.9-65 1926-48.5c-1.7-2.5.5-15.6.5-15.6H0v64.1Z' fill='%23FFF5E6'/%3E%3C/svg%3E") no-repeat center bottom / cover;
					position: absolute;
					left: 0;
					top: -3.3333vw;
				}
			}

			+ .post-text-block.beige{
				padding-top: 2.3438vw;
			}
		}

		&:not(.beige){
			+ .beige{
				position: relative;
				margin-top: 4vw;

				&:before{
					content: '';
					display: block;
					width: 100.3646vw;
					height: 3.3854vw;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1927 65'%3E%3Cpath fill='%23FFF5E6' d='M0 0h1926.5v64.1H0z'/%3E%3Cpath d='M0 64.1s1447.9-65 1926-48.5c-1.7-2.5.5-15.6.5-15.6H0v64.1Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center bottom / cover;
					position: absolute;
					left: 0;
					top: -3.3333vw;
				}
			}

			+ .post-text-block.beige{
				padding-top: 2.3438vw;
			}
		}
	}

	.post-related-block{
		padding-bottom: 5.2083vw;

		.block-caption{
			margin-bottom: 1.2500vw;
		}

		.related-grid{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 5.7292vw;

			@media screen and (max-width: 991px){
				grid-template-columns: 1fr;
				grid-gap: 8.3333vw;
			}
		}

		&.beige{
			+ :not(.beige){
				&:before{
					content: '';
					display: block;
					width: 100.3646vw;
					height: 3.3854vw;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1927 65'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill='%23fff' d='M0 0h1926.5v64.1H0z'/%3E%3Cpath d='M0 64.1s1447.9-65 1926-48.5c-1.7-2.5.5-15.6.5-15.6H0v64.1Z' fill='%23FFF5E6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h1926.5v64.1H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center top / cover;
					position: absolute;
					left: 0;
					top: -3.2813vw;
				}
			}
		}

		&:not(.beige){
			padding-top: 2vw;

			+ .beige{
				&:before{
					content: '';
					display: block;
					width: 100.3646vw;
					height: 3.3854vw;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1927 65'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill='%23FFF5E6' d='M0 0h1926.5v64.1H0z'/%3E%3Cpath d='M0 64.1s1447.9-65 1926-48.5c-1.7-2.5.5-15.6.5-15.6H0v64.1Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h1926.5v64.1H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center top / cover;
					position: absolute;
					left: 0;
					top: -3.2813vw;
				}
			}
		}
	}

	.post-video-block{
		padding-bottom: 4.4271vw;

		.video-card{
			max-width: unset;
		}

		&.beige{
			+ :not(.beige){
				&:before{
					content: '';
					display: block;
					width: 100.3646vw;
					height: 3.3854vw;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1927 65'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill='%23fff' d='M0 0h1926.5v64.1H0z'/%3E%3Cpath d='M0 64.1s1447.9-65 1926-48.5c-1.7-2.5.5-15.6.5-15.6H0v64.1Z' fill='%23FFF5E6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h1926.5v64.1H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center top / cover;
					position: absolute;
					left: 0;
					top: -3.2813vw;
				}
			}
		}

		&:not(.beige){
			padding-top: 2vw;

			+ .beige{
				&:before{
					content: '';
					display: block;
					width: 100.3646vw;
					height: 3.3854vw;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1927 65'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill='%23FFF5E6' d='M0 0h1926.5v64.1H0z'/%3E%3Cpath d='M0 64.1s1447.9-65 1926-48.5c-1.7-2.5.5-15.6.5-15.6H0v64.1Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h1926.5v64.1H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center top / cover;
					position: absolute;
					left: 0;
					top: -3.2813vw;
				}
			}
		}
	}

	.post-blockquote-block{
		padding-top: 1.7708vw;
		padding-bottom: 6.3021vw;

		&.beige{
			+ :not(.beige){
				&:before{
					content: '';
					display: block;
					width: 100.3646vw;
					height: 3.3854vw;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1927 65'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill='%23fff' d='M0 0h1926.5v64.1H0z'/%3E%3Cpath d='M0 64.1s1447.9-65 1926-48.5c-1.7-2.5.5-15.6.5-15.6H0v64.1Z' fill='%23FFF5E6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h1926.5v64.1H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center top / cover;
					position: absolute;
					left: 0;
					top: -3.2813vw;
				}
			}
		}

		&:not(.beige){
			padding-top: 2vw;

			+ .beige{
				&:before{
					content: '';
					display: block;
					width: 100.3646vw;
					height: 3.3854vw;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1927 65'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill='%23FFF5E6' d='M0 0h1926.5v64.1H0z'/%3E%3Cpath d='M0 64.1s1447.9-65 1926-48.5c-1.7-2.5.5-15.6.5-15.6H0v64.1Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h1926.5v64.1H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center top / cover;
					position: absolute;
					left: 0;
					top: -3.2813vw;
				}
			}
		}
	}

	.post-fullwidth-image-block{
		padding-bottom: 2.7604vw;

		img{
			display: block;
			width: 100%;
			height: auto;
		}

		.block-caption{
			position: absolute;
			right: 2.2396vw;
			bottom: 3.1250vw;
			font-size: 1.0417vw;
			line-height: 1.7;
			color: #070707;
			z-index: 3;
			font-weight: 600;

			@media screen and (max-width: 991px){
				font-size: 3.8889vw;
				position: relative;
				bottom: 0;
				right: 0;
				padding: 0 4vw;
				background: #fff5e6;
			}
		}

		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0 !important;
			height: 6.1458vw !important;
			width: 100% !important;
			background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 118'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M-13 118S1440.2-12.2 1920 21V-.5H-13v118.6Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h1920v118H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center top / cover !important;
		}

		+ .beige{
			&:before{
				content: '';
				display: block;
				width: 100%;
				height: 7.4479vw;
				background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 143'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M1920 0S477 90.6.5 67.5C2.2 71 0 142 0 142h1920V0Z' fill='%23FFF5E6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h1920v142.1H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center top / cover;
				position: absolute;
				left: 0;
				top: -7.3479vw;
			}
		}

		+ :not(.beige){
			&:before{
				content: '';
				display: block;
				width: 100%;
				height: 7.4479vw;
				background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 143'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M1920 0S477 90.6.5 67.5C2.2 71 0 142 0 142h1920V0Z' fill='%23FFF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h1920v142.1H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center top / cover;
				position: absolute;
				left: 0;
				top: -7.3479vw;
			}
		}
	}

	.beige + .post-fullwidth-image-block{
		&:before{
			top: 0 !important;
			height: 118px !important;
			width: 100% !important;
			background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 118'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M-13 118S1440.2-12.2 1920 21V-.5H-13v118.6Z' fill='%23FFF5E6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h1920v118H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") !important;
		}
	}

	.post-schedule-block{
		.block-inner{
			@media screen and (min-width: 992px){
				width: 58.7500vw;
			}
		}

		.block-caption{
			font-size: 2.0833vw;
			line-height: 1.3;
			color: #FC4C4D;
			font-weight: 400;
			margin-bottom: 0.6250vw;

			strong{
				font-size: 3.3854vw;
				font-weight: inherit;
			}

			@media screen and (max-width: 991px){
				font-size: 5.0000vw;
				margin-bottom: 2.7778vw;

				strong{
					font-size: 7.7778vw;
				}
			}
		}

		--fields-bg: #FFF5E6;

		.block-form{
			.form-fields{
				display: grid;
				grid-gap: 0.9375vw;
			}

			input,
			textarea{
				appearance: none;
				border: 0;
				border-radius: 0;
				box-shadow: none;
				padding: 0 1.7188vw;
				background: var(--fields-bg);
				font-size: 1.6667vw;
				color: #070707;
				font-weight: 400;
				font-family: inherit;
				width: 100%;
				height: 4.2708vw;
				display: block;

				&::placeholder{
					opacity: 1;
					color: #707070;
				}

				&:focus{
					outline: none;
				}
			}

			textarea{
				padding: 0.9375vw 1.7188vw;
				resize: none;
				height: 9.8958vw;
			}

			.form-footer{
				display: flex;
				justify-content: flex-end;
			}

			.submit-btn{
				padding: 1.0417vw 4.1667vw;
				background: #FC4C4D;
				color: #fff;
				font-size: 1.6667vw;
				line-height: 2.1875vw;
				font-weight: 400;
				color: #fff;
				font-family: inherit;
				text-align: center;
				cursor: pointer;
				appearance: none;
				border-radius: 0;
				box-shadow: none;
				transition: all $t;

				&:hover,
				&:focus{
					background: darken(#FC4C4D, 10%);
				}
			}

			@media screen and (max-width: 991px){
				.form-fields{
					grid-gap: 2.2222vw;
				}

				input,
				textarea{
					height: 10.0000vw;
					font-size: 5.0000vw;
					padding: 0 4.4444vw;
				}

				textarea{
					padding: 3.3333vw 4.4444vw;
					height: 25.0000vw;
				}

				.submit-btn{
					font-size: 4.4444vw;
					line-height: 1.3;
					padding: 2.2222vw 6.6667vw;
				}
			}
		}

		&.beige{
			--fields-bg: #FFF;
		}

		&.beige{
			padding-bottom: 9.1146vw;

			+ :not(.beige){
				&:before{
					content: '';
					display: block;
					width: 100%;
					height: 8.1250vw;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 156'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill='%23fff' d='M0 0h1920v156H0z'/%3E%3Cpath d='M0 156s1452.9-99.4 1932.7-74c-1.7-4 .5-82 .5-82H0v156Z' fill='%23FFF5E6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h1920v156H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center top / cover;
					position: absolute;
					left: 0;
					top: -8.0208vw;
				}
			}
		}

		&:not(.beige){
			padding-bottom: 9.1146vw;

			+ .beige{
				&:before{
					content: '';
					display: block;
					width: 100%;
					height: 8.1250vw;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 156'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill='%23fff5E6' d='M0 0h1920v156H0z'/%3E%3Cpath d='M0 156s1452.9-99.4 1932.7-74c-1.7-4 .5-82 .5-82H0v156Z' fill='%23FFF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h1920v156H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center top / cover;
					position: absolute;
					left: 0;
					top: -8.0208vw;
				}
			}
		}
	}

	.post-author-block{
		padding-top: 0.1563vw;
		padding-bottom: 6.3021vw;

		&.beige{
			+ :not(.beige){
				&:before{
					content: '';
					display: block;
					width: 100.3646vw;
					height: 3.3854vw;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1927 65'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill='%23fff' d='M0 0h1926.5v64.1H0z'/%3E%3Cpath d='M0 64.1s1447.9-65 1926-48.5c-1.7-2.5.5-15.6.5-15.6H0v64.1Z' fill='%23FFF5E6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h1926.5v64.1H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center top / cover;
					position: absolute;
					left: 0;
					top: -3.2813vw;
				}
			}

			+ .beige{
				margin-top: -3vw;
			}
		}

		&:not(.beige){
			+ .beige{
				&:before{
					content: '';
					display: block;
					width: 100.3646vw;
					height: 3.3854vw;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1927 65'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill='%23FFF5E6' d='M0 0h1926.5v64.1H0z'/%3E%3Cpath d='M0 64.1s1447.9-65 1926-48.5c-1.7-2.5.5-15.6.5-15.6H0v64.1Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h1926.5v64.1H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center top / cover;
					position: absolute;
					left: 0;
					top: -3.2813vw;
				}
			}
		}
	}

	.post-comments-block{
		padding-top: 1.8229vw;
		padding-bottom: 5.4688vw;

		&.beige{
			+ :not(.beige){
				&:before{
					content: '';
					display: block;
					width: 100.0000vw;
					height: 4.1667vw;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 80'%3E%3Cpath fill='%23fff' d='M0 0h1920v80H0z'/%3E%3Cpath d='M1920 0H0v1c303.4 133.7 1843 58 1920 54.2V0Z' fill='%23FFF5E6'/%3E%3C/svg%3E") no-repeat center bottom / cover;
					position: absolute;
					left: 0;
					top: -4.0625vw;
				}
			}
		}

		&:not(.beige){
			+ .beige{
				&:before{
					content: '';
					display: block;
					width: 100.0000vw;
					height: 4.1667vw;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 80'%3E%3Cpath fill='%23FFF5E6' d='M0 0h1920v80H0z'/%3E%3Cpath d='M1920 0H0v1c303.4 133.7 1843 58 1920 54.2V0Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center bottom / cover;
					position: absolute;
					left: 0;
					top: -4.0625vw;
				}
			}
		}
	}

	.post-widget-block{
		padding-top: 3.7500vw;
		padding-bottom: 4.6875vw;
	}

	@media screen and (max-width: 991px){
		flex-direction: column;
		padding-right: 0;
		padding-left: 0;

		.quote-block{
			.block-text{
				font-size: 10vw;
				margin-bottom: 2vw;
			}

			.block-author{
				font-size: 4.4444vw;
				line-height: 5.8333vw;
			}
		}

		.section-content{
			padding: 4vw;
			width: 100%;
		}

		.post-info{
			font-size: 3.6111vw;
			margin-bottom: 1.3889vw;
		}

		.post-excerpt{
			font-size: 5.0000vw;
			margin-bottom: 2vw;
		}

		.post-tags{
			font-size: 3.6111vw;
			margin-bottom: 4vw;

			&:before{
				width: 5.0000vw;
				height: 5.0000vw;
				margin-left: 1.3889vw;
			}
		}

		.post-image{
			margin-bottom: -6vw;
			position: relative;

			&:after{
				width: 102%;
				height: 10vw;
				right: -1%;
				bottom: -0.6vw;
			}
		}
	}
}

.post-author-info-block{
	display: grid;
	grid-template-columns: 15.8333vw 1fr;
	grid-gap: 2.6042vw;
	align-items: end;

	.block-image{
		img{
			display: block;
			max-width: 100%;
			height: auto;
		}

		svg{
			display: block;
		}
	}

	.block-caption{
		font-size: 2.0833vw;
		line-height: 1.3;
		font-weight: bold;
		color: $primary;
		margin-bottom: 0.5729vw;
	}

	.block-description{
		font-size: 1.2500vw;
		line-height: 1.333;
		color: #313131;
		font-weight: 600;

		strong{
			color: #58785F;
			font-weight: bold;
		}
	}

	.block-footer{
		margin-top: 2.1875vw;
		display: flex;

		.btn:not(:last-child){
			margin-left: 2.0833vw;
		}
	}

	@media screen and (max-width: 991px){
		grid-template-columns: 1fr;
		grid-gap: 4vw;

		.block-image{
			width: 45vw;
		}

		.block-caption{
			font-size: 5vw;
			margin-bottom: 1vw;
		}

		.block-description{
			font-size: 4vw;
		}

		.block-footer{
			margin-top: 5vw;

			.btn:not(:last-child){
				margin-left: 5vw;
			}
		}
	}
}

.horizontal-widget-card{
	width: 77.8125vw;
	height: 10.5208vw;
	margin: 0 auto;
	display: flex;
	position: relative;
	background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1494 202'%3E%3Cpath d='M1426.8 190.2c-133.7 19-1292.9 9.5-1344.8 6.3-33-2-58.2-17.3-72.4-55C-4.5 103.7.2 88 3.4 64.5a54.9 54.9 0 0 1 44-48.8C108 1.4 1334-9.5 1437.8 12.5c29.4 6.2 51.1 44.2 53.5 67.6 4.7 47.2 3 31.5-3.2 61.4-6.3 29.9-20.4 43-61.3 48.7Z' fill='%23FFF5E6'/%3E%3C/svg%3E") no-repeat center center / contain;

	.beige &{
		background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1494 202'%3E%3Cpath d='M1426.8 190.2c-133.7 19-1292.9 9.5-1344.8 6.3-33-2-58.2-17.3-72.4-55C-4.5 103.7.2 88 3.4 64.5a54.9 54.9 0 0 1 44-48.8C108 1.4 1334-9.5 1437.8 12.5c29.4 6.2 51.1 44.2 53.5 67.6 4.7 47.2 3 31.5-3.2 61.4-6.3 29.9-20.4 43-61.3 48.7Z' fill='%23fff'/%3E%3C/svg%3E");
	}

	.card-image{
		width: 24.4792vw;
		margin-left: 2.6042vw;

		svg{
			display: block;
		}
	}

	.card-content{
		padding-top: 1.8229vw;
	}

	.card-caption{
		font-size: 2.3438vw;
		line-height: 1;
		font-weight: bold;
		color: #313131;
		margin-bottom: 0.3125vw;
	}

	p{
		font-size: 1.8229vw;
		line-height: 1.1;
		font-weight: 600;
		color: #58785F;
	}

	.block-btn{
		display: block;
		text-align: center;
		padding-top: 2.2917vw;
		width: 12.9167vw;
		height: 9.0625vw;
		position: absolute;
		left: 5.3125vw;
		bottom: -3.0208vw;
		font-size: 1.8229vw;
		line-height: 2.3958vw;
		font-weight: 600;
		color: $primary;

		&:before{
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 248 174'%3E%3Cpath d='M24.2 166.7c-28.8-24-37.7-56.5 8.2-120C67.9-2.3 144.6-12.7 191.2 16.5c46.7 29.3 81 99.7 32 137.4-37.4 28.8-91.1-13.2-118.2-6.7-37 8.8-57.6 39-80.8 19.6Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center / contain;
			transition: all $t;

			.beige &{
				background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 248 174'%3E%3Cpath d='M24.2 166.7c-28.8-24-37.7-56.5 8.2-120C67.9-2.3 144.6-12.7 191.2 16.5c46.7 29.3 81 99.7 32 137.4-37.4 28.8-91.1-13.2-118.2-6.7-37 8.8-57.6 39-80.8 19.6Z' fill='%23fff5e6'/%3E%3C/svg%3E");
			}
		}

		.btn-text{
			position: relative;
		}

		&:hover,
		&:focus{
			&:before{
				transform: scale(1.05);
			}
		}
	}

	@media screen and (max-width: 991px){
		display: none;
	}
}