.testimonials-section{
	padding: 0.3646vw 0 1.75vw;

	.section-inner{
		display: grid;
		grid-template-columns: 42.2917vw 43.5417vw;
		grid-gap: 3.1250vw;
	}

	.section-caption{
		margin-bottom: 0.5208vw;
	}

	.section-text{
		font-size: 1.0417vw;
		line-height: 1.7;

		.author{
			font-size: 3.1250vw;
			line-height: 1;
			font-family: $second-font;
			font-weight: 500;
		}
	}

	.section-slider-nav{
		display: flex;
		flex-wrap: wrap;
		width: calc(100% + 2.6042vw);
		margin-left: -2.6042vw;
		margin-bottom: -1.7708vw;
		margin-top: 1.1458vw;

		.slider-nav-btn{
			font-family: $second-font;
			font-size: 2.0833vw;
			line-height: 1;
			font-weight: 500;
			margin-left: 2.6042vw;
			display: flex;
			align-items: center;
			margin-bottom: 1.7708vw;

			&:before{
				content: '';
				display: block;
				width: 1.5104vw;
				height: 1.4583vw;
				background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 29 28'%3E%3Cpath d='M1.23 11.6c-1.32 3.98-3.8 14.78 6.8 15.85 10.6 1.06 18.39-2.72 20.11-9.35 1.73-6.63 1.1-16.37-10.3-17.97C6.44-1.46 1.24 11.6 1.24 11.6z' fill='%235E7A2E'/%3E%3Cpath d='M22.05 12.84h-6.72V6.13h-2.4v6.71H6.2v2.45h6.72v6.68h2.4v-6.68h6.72v-2.45z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center / contain;
				flex: none;
				margin-left: 0.7813vw;
			}

			&:hover,
			&.active{
				color: $primary;
			}
		}
	}

	.testimonials-slider-wrapper{
		width: 43.5417vw;
		min-height: 30.3125vw;
		position: relative;
		padding: 3.9583vw 5.3125vw 1.0417vw;
		margin-top: 0.5729vw;
		background: #FDD84B;

		&:before,
		&:after{
			content: '';
			display: block;
			width: 100%;
			height: 15.1563vw;
			position: absolute;
			left: 0;
			top: 0;
			background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 836 582'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill='%23fff' d='M0 0h836v582H0z'/%3E%3Cpath d='M704.98 572.73c-121.65 13.8-519.64 8.63-578.38 0C67.85 564.1 18.47 527.29 7 421.5-5 311.5.95 203 4.5 167c7.65-77.66 8.7-143.74 159.4-152.37 0 0 378.07-26.69 504.35-7.97 105.58 12.56 126.27 37.1 149.19 112.97C831.6 166.5 836 213.12 836 291c0 195-9.38 267.93-131.02 281.73Z' fill='%23FDD84B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h836v582H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center top / cover;
		}

		&:after{
			top: auto;
			bottom: 0;
			background-position: center bottom;
		}

		.slider-arrows{
			margin-top: 1.8750vw;
			display: flex;
			justify-content: center;

			.slick-arrow{
				position: static !important;
				transform: translateY(0);

				svg{
					fill: #fff;
				}

				&:not(:last-child){
					margin-left: 2.6563vw;
				}
			}
		}

		.slide-caption{
			font-size: 3.1250vw;
			line-height: 1;
			font-weight: 500;
			margin-bottom: 0.8vw;
			font-family: $second-font;
		}

		.slide-text{
			line-height: 1.7;
			font-weight: 600;
		}
	}

	.testimonials-slider{
		width: calc(100% + 1.0417vw * 2);
		margin-left: -1.0417vw;
		margin-right: -1.0417vw;
		position: relative;
		z-index: 2;
		
		.slide{
			padding: 0 1.0417vw;
		}
	}
}