







$headerMainScreen-1:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1925.89 208.44'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M1920.72 0H0s2.2 104.16.51 109.37c254.36-18.06 814 43.57 814 43.57s634.39 58.45 1106.17 55.39h5.17V1Z' style='fill:%235c6bb2' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$headerMainScreen-2:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1925.89 208.44'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M1920.72 0H0s2.2 104.16.51 109.37c254.36-18.06 814 43.57 814 43.57s634.39 58.45 1106.17 55.39h5.17V1Z' style='fill:%23efcfca' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$headerMainScreen-3:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1925.89 208.44'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M1920.72 0H0s2.2 104.16.51 109.37c254.36-18.06 814 43.57 814 43.57s634.39 58.45 1106.17 55.39h5.17V1Z' style='fill:%23190e40' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$headerMainScreen-4:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1925.89 208.44'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M1920.72 0H0s2.2 104.16.51 109.37c254.36-18.06 814 43.57 814 43.57s634.39 58.45 1106.17 55.39h5.17V1Z' style='fill:%23fcb81a' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$headerMainScreen-5:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1925.89 208.44'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M1920.72 0H0s2.2 104.16.51 109.37c254.36-18.06 814 43.57 814 43.57s634.39 58.45 1106.17 55.39h5.17V1Z' style='fill:%23b3dece' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$headerMainScreen-6:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1925.89 208.44'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M1920.72 0H0s2.2 104.16.51 109.37c254.36-18.06 814 43.57 814 43.57s634.39 58.45 1106.17 55.39h5.17V1Z' style='fill:%23ace8ff' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$headerMainScreen-7:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1925.89 208.44'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M1920.72 0H0s2.2 104.16.51 109.37c254.36-18.06 814 43.57 814 43.57s634.39 58.45 1106.17 55.39h5.17V1Z' style='fill:%233f9ba5' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$headerMainScreen-8:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1925.89 208.44'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M1920.72 0H0s2.2 104.16.51 109.37c254.36-18.06 814 43.57 814 43.57s634.39 58.45 1106.17 55.39h5.17V1Z' style='fill:%23dbdb73' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$headerMainScreen-9:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1925.89 208.44'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M1920.72 0H0s2.2 104.16.51 109.37c254.36-18.06 814 43.57 814 43.57s634.39 58.45 1106.17 55.39h5.17V1Z' style='fill:%2309619e' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$headerMainScreen-10:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1925.89 208.44'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M1920.72 0H0s2.2 104.16.51 109.37c254.36-18.06 814 43.57 814 43.57s634.39 58.45 1106.17 55.39h5.17V1Z' style='fill:%23FFF5E6' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");

$lineLeft-1:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1933.17 115.08'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 54' d='M0 115.08S1452.89-15.66 1932.66 17.66c-1.7-5.12.51-17.66.51-17.66H0Z' style='fill:%235c6bb2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$lineLeft-2:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1933.17 115.08'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 54' d='M0 115.08S1452.89-15.66 1932.66 17.66c-1.7-5.12.51-17.66.51-17.66H0Z' style='fill:%23efcfca'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$lineLeft-3:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1933.17 115.08'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 54' d='M0 115.08S1452.89-15.66 1932.66 17.66c-1.7-5.12.51-17.66.51-17.66H0Z' style='fill:%23190e40'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$lineLeft-4:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1933.17 115.08'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 54' d='M0 115.08S1452.89-15.66 1932.66 17.66c-1.7-5.12.51-17.66.51-17.66H0Z' style='fill:%23fcb81a'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$lineLeft-5:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1933.17 115.08'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 54' d='M0 115.08S1452.89-15.66 1932.66 17.66c-1.7-5.12.51-17.66.51-17.66H0Z' style='fill:%23b3dece'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$lineLeft-6:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1933.17 115.08'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 54' d='M0 115.08S1452.89-15.66 1932.66 17.66c-1.7-5.12.51-17.66.51-17.66H0Z' style='fill:%23ace8ff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$lineLeft-7:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1933.17 115.08'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 54' d='M0 115.08S1452.89-15.66 1932.66 17.66c-1.7-5.12.51-17.66.51-17.66H0Z' style='fill:%233f9ba5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$lineLeft-8:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1933.17 115.08'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 54' d='M0 115.08S1452.89-15.66 1932.66 17.66c-1.7-5.12.51-17.66.51-17.66H0Z' style='fill:%23dbdb73'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$lineLeft-9:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1933.17 115.08'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 54' d='M0 115.08S1452.89-15.66 1932.66 17.66c-1.7-5.12.51-17.66.51-17.66H0Z' style='fill:%2309619e'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$lineLeft-10:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1932 178.08'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M1932 0H0v178.08S1451.58-24.51 1932 26.92Z' style='fill:%23FFF5E6' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");

$bullet-1:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.94 21.9'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 88' d='M20.23 19.13C23 17.08 29.74 11 23.12 5.29S9.49-1.54 5.22 2.1-3.23 12.58 3.68 19s16.55.13 16.55.13Z' style='fill:%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$bullet-2:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.94 21.9'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 88' d='M20.23 19.13C23 17.08 29.74 11 23.12 5.29S9.49-1.54 5.22 2.1-3.23 12.58 3.68 19s16.55.13 16.55.13Z' style='fill:%23fc4c4d'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$bullet-3:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.94 21.9'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 88' d='M20.23 19.13C23 17.08 29.74 11 23.12 5.29S9.49-1.54 5.22 2.1-3.23 12.58 3.68 19s16.55.13 16.55.13Z' style='fill:%23fcb81a'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$bullet-4:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.94 21.9'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 88' d='M20.23 19.13C23 17.08 29.74 11 23.12 5.29S9.49-1.54 5.22 2.1-3.23 12.58 3.68 19s16.55.13 16.55.13Z' style='fill:%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$bullet-5:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.94 21.9'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 88' d='M20.23 19.13C23 17.08 29.74 11 23.12 5.29S9.49-1.54 5.22 2.1-3.23 12.58 3.68 19s16.55.13 16.55.13Z' style='fill:%23fc4c4d'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$bullet-6:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.94 21.9'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 88' d='M20.23 19.13C23 17.08 29.74 11 23.12 5.29S9.49-1.54 5.22 2.1-3.23 12.58 3.68 19s16.55.13 16.55.13Z' style='fill:%23fc4c4d'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$bullet-7:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.94 21.9'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 88' d='M20.23 19.13C23 17.08 29.74 11 23.12 5.29S9.49-1.54 5.22 2.1-3.23 12.58 3.68 19s16.55.13 16.55.13Z' style='fill:%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$bullet-8:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.94 21.9'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 88' d='M20.23 19.13C23 17.08 29.74 11 23.12 5.29S9.49-1.54 5.22 2.1-3.23 12.58 3.68 19s16.55.13 16.55.13Z' style='fill:%23fc4c4d'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$bullet-9:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.94 21.9'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 88' d='M20.23 19.13C23 17.08 29.74 11 23.12 5.29S9.49-1.54 5.22 2.1-3.23 12.58 3.68 19s16.55.13 16.55.13Z' style='fill:%23fcb81a'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$bullet-10:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.94 21.9'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 88' d='M20.23 19.13C23 17.08 29.74 11 23.12 5.29S9.49-1.54 5.22 2.1-3.23 12.58 3.68 19s16.55.13 16.55.13Z' style='fill:%23FFF5E6'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

$leafColor-1:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 186.97 182.95'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M84.82 147.16c3.64 8.94-.56 28.59-2.3 35.79h15.23c.23-23.67 16.49-37.51 30.35-48.52C150 117 203.76 117 181.8 76.79c-11.11-20.32-86.86 75.84-85 56.62C100.26 96.92 169.43 2.75 113.22 0c-38.81-1.89-9 158.2-44.85 114.14-2.94-3.63-45.35-75-67.26-45.38-12.11 16.41 79.48 68.02 83.71 78.4Z' style='fill:%235c6bb2' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$leafColor-2:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 186.97 182.95'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M84.82 147.16c3.64 8.94-.56 28.59-2.3 35.79h15.23c.23-23.67 16.49-37.51 30.35-48.52C150 117 203.76 117 181.8 76.79c-11.11-20.32-86.86 75.84-85 56.62C100.26 96.92 169.43 2.75 113.22 0c-38.81-1.89-9 158.2-44.85 114.14-2.94-3.63-45.35-75-67.26-45.38-12.11 16.41 79.48 68.02 83.71 78.4Z' style='fill:%23efcfca' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$leafColor-3:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 186.97 182.95'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M84.82 147.16c3.64 8.94-.56 28.59-2.3 35.79h15.23c.23-23.67 16.49-37.51 30.35-48.52C150 117 203.76 117 181.8 76.79c-11.11-20.32-86.86 75.84-85 56.62C100.26 96.92 169.43 2.75 113.22 0c-38.81-1.89-9 158.2-44.85 114.14-2.94-3.63-45.35-75-67.26-45.38-12.11 16.41 79.48 68.02 83.71 78.4Z' style='fill:%23190e40' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$leafColor-4:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 186.97 182.95'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M84.82 147.16c3.64 8.94-.56 28.59-2.3 35.79h15.23c.23-23.67 16.49-37.51 30.35-48.52C150 117 203.76 117 181.8 76.79c-11.11-20.32-86.86 75.84-85 56.62C100.26 96.92 169.43 2.75 113.22 0c-38.81-1.89-9 158.2-44.85 114.14-2.94-3.63-45.35-75-67.26-45.38-12.11 16.41 79.48 68.02 83.71 78.4Z' style='fill:%23fcb81a' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$leafColor-5:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 186.97 182.95'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M84.82 147.16c3.64 8.94-.56 28.59-2.3 35.79h15.23c.23-23.67 16.49-37.51 30.35-48.52C150 117 203.76 117 181.8 76.79c-11.11-20.32-86.86 75.84-85 56.62C100.26 96.92 169.43 2.75 113.22 0c-38.81-1.89-9 158.2-44.85 114.14-2.94-3.63-45.35-75-67.26-45.38-12.11 16.41 79.48 68.02 83.71 78.4Z' style='fill:%23b3dece' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$leafColor-6:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 186.97 182.95'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M84.82 147.16c3.64 8.94-.56 28.59-2.3 35.79h15.23c.23-23.67 16.49-37.51 30.35-48.52C150 117 203.76 117 181.8 76.79c-11.11-20.32-86.86 75.84-85 56.62C100.26 96.92 169.43 2.75 113.22 0c-38.81-1.89-9 158.2-44.85 114.14-2.94-3.63-45.35-75-67.26-45.38-12.11 16.41 79.48 68.02 83.71 78.4Z' style='fill:%23ace8ff' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$leafColor-7:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 186.97 182.95'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M84.82 147.16c3.64 8.94-.56 28.59-2.3 35.79h15.23c.23-23.67 16.49-37.51 30.35-48.52C150 117 203.76 117 181.8 76.79c-11.11-20.32-86.86 75.84-85 56.62C100.26 96.92 169.43 2.75 113.22 0c-38.81-1.89-9 158.2-44.85 114.14-2.94-3.63-45.35-75-67.26-45.38-12.11 16.41 79.48 68.02 83.71 78.4Z' style='fill:%233f9ba5' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$leafColor-8:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 186.97 182.95'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M84.82 147.16c3.64 8.94-.56 28.59-2.3 35.79h15.23c.23-23.67 16.49-37.51 30.35-48.52C150 117 203.76 117 181.8 76.79c-11.11-20.32-86.86 75.84-85 56.62C100.26 96.92 169.43 2.75 113.22 0c-38.81-1.89-9 158.2-44.85 114.14-2.94-3.63-45.35-75-67.26-45.38-12.11 16.41 79.48 68.02 83.71 78.4Z' style='fill:%23dbdb73' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$leafColor-9:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 186.97 182.95'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M84.82 147.16c3.64 8.94-.56 28.59-2.3 35.79h15.23c.23-23.67 16.49-37.51 30.35-48.52C150 117 203.76 117 181.8 76.79c-11.11-20.32-86.86 75.84-85 56.62C100.26 96.92 169.43 2.75 113.22 0c-38.81-1.89-9 158.2-44.85 114.14-2.94-3.63-45.35-75-67.26-45.38-12.11 16.41 79.48 68.02 83.71 78.4Z' style='fill:%2309619e' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$leafColor-10:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 186.97 182.95'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M84.82 147.16c3.64 8.94-.56 28.59-2.3 35.79h15.23c.23-23.67 16.49-37.51 30.35-48.52C150 117 203.76 117 181.8 76.79c-11.11-20.32-86.86 75.84-85 56.62C100.26 96.92 169.43 2.75 113.22 0c-38.81-1.89-9 158.2-44.85 114.14-2.94-3.63-45.35-75-67.26-45.38-12.11 16.41 79.48 68.02 83.71 78.4Z' style='fill:%23FFF5E6' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");

$line-narrow-1:url("data:image/svg+xml,%3Csvg data-name='up curve 1' xmlns='http://www.w3.org/2000/svg' width='1920' height='90.043'%3E%3Crect data-name='Прямоугольник 63' width='1920' transform='translate(0 90.043)' fill='%23FFF5E6'/%3E%3Cpath data-name='Контур 105' d='M.507 75.463C477 98.543 1919.979 7.985 1920 7.984V0H0v90.043s2.2-11.028.507-14.58Z' fill='%235c6bb2'/%3E%3Crect data-name='Прямоугольник 64' height='82.059' transform='translate(1920 7.984)' fill='%23FFF5E6'/%3E%3C/svg%3E");
$line-narrow-2:url("data:image/svg+xml,%3Csvg data-name='up curve 1' xmlns='http://www.w3.org/2000/svg' width='1920' height='90.043'%3E%3Crect data-name='Прямоугольник 63' width='1920' transform='translate(0 90.043)' fill='%23FFF5E6'/%3E%3Cpath data-name='Контур 105' d='M.507 75.463C477 98.543 1919.979 7.985 1920 7.984V0H0v90.043s2.2-11.028.507-14.58Z' fill='%23efcfca'/%3E%3Crect data-name='Прямоугольник 64' height='82.059' transform='translate(1920 7.984)' fill='%23FFF5E6'/%3E%3C/svg%3E");
$line-narrow-3:url("data:image/svg+xml,%3Csvg data-name='up curve 1' xmlns='http://www.w3.org/2000/svg' width='1920' height='90.043'%3E%3Crect data-name='Прямоугольник 63' width='1920' transform='translate(0 90.043)' fill='%23FFF5E6'/%3E%3Cpath data-name='Контур 105' d='M.507 75.463C477 98.543 1919.979 7.985 1920 7.984V0H0v90.043s2.2-11.028.507-14.58Z' fill='%23190e40'/%3E%3Crect data-name='Прямоугольник 64' height='82.059' transform='translate(1920 7.984)' fill='%23FFF5E6'/%3E%3C/svg%3E");
$line-narrow-4:url("data:image/svg+xml,%3Csvg data-name='up curve 1' xmlns='http://www.w3.org/2000/svg' width='1920' height='90.043'%3E%3Crect data-name='Прямоугольник 63' width='1920' transform='translate(0 90.043)' fill='%23FFF5E6'/%3E%3Cpath data-name='Контур 105' d='M.507 75.463C477 98.543 1919.979 7.985 1920 7.984V0H0v90.043s2.2-11.028.507-14.58Z' fill='%23fcb81a'/%3E%3Crect data-name='Прямоугольник 64' height='82.059' transform='translate(1920 7.984)' fill='%23FFF5E6'/%3E%3C/svg%3E");
$line-narrow-5:url("data:image/svg+xml,%3Csvg data-name='up curve 1' xmlns='http://www.w3.org/2000/svg' width='1920' height='90.043'%3E%3Crect data-name='Прямоугольник 63' width='1920' transform='translate(0 90.043)' fill='%23FFF5E6'/%3E%3Cpath data-name='Контур 105' d='M.507 75.463C477 98.543 1919.979 7.985 1920 7.984V0H0v90.043s2.2-11.028.507-14.58Z' fill='%23b3dece'/%3E%3Crect data-name='Прямоугольник 64' height='82.059' transform='translate(1920 7.984)' fill='%23FFF5E6'/%3E%3C/svg%3E");
$line-narrow-6:url("data:image/svg+xml,%3Csvg data-name='up curve 1' xmlns='http://www.w3.org/2000/svg' width='1920' height='90.043'%3E%3Crect data-name='Прямоугольник 63' width='1920' transform='translate(0 90.043)' fill='%23FFF5E6'/%3E%3Cpath data-name='Контур 105' d='M.507 75.463C477 98.543 1919.979 7.985 1920 7.984V0H0v90.043s2.2-11.028.507-14.58Z' fill='%23ace8ff'/%3E%3Crect data-name='Прямоугольник 64' height='82.059' transform='translate(1920 7.984)' fill='%23FFF5E6'/%3E%3C/svg%3E");
$line-narrow-7:url("data:image/svg+xml,%3Csvg data-name='up curve 1' xmlns='http://www.w3.org/2000/svg' width='1920' height='90.043'%3E%3Crect data-name='Прямоугольник 63' width='1920' transform='translate(0 90.043)' fill='%23FFF5E6'/%3E%3Cpath data-name='Контур 105' d='M.507 75.463C477 98.543 1919.979 7.985 1920 7.984V0H0v90.043s2.2-11.028.507-14.58Z' fill='%233f9ba5'/%3E%3Crect data-name='Прямоугольник 64' height='82.059' transform='translate(1920 7.984)' fill='%23FFF5E6'/%3E%3C/svg%3E");
$line-narrow-8:url("data:image/svg+xml,%3Csvg data-name='up curve 1' xmlns='http://www.w3.org/2000/svg' width='1920' height='90.043'%3E%3Crect data-name='Прямоугольник 63' width='1920' transform='translate(0 90.043)' fill='%23FFF5E6'/%3E%3Cpath data-name='Контур 105' d='M.507 75.463C477 98.543 1919.979 7.985 1920 7.984V0H0v90.043s2.2-11.028.507-14.58Z' fill='%23dbdb73'/%3E%3Crect data-name='Прямоугольник 64' height='82.059' transform='translate(1920 7.984)' fill='%23FFF5E6'/%3E%3C/svg%3E");
$line-narrow-9:url("data:image/svg+xml,%3Csvg data-name='up curve 1' xmlns='http://www.w3.org/2000/svg' width='1920' height='90.043'%3E%3Crect data-name='Прямоугольник 63' width='1920' transform='translate(0 90.043)' fill='%23FFF5E6'/%3E%3Cpath data-name='Контур 105' d='M.507 75.463C477 98.543 1919.979 7.985 1920 7.984V0H0v90.043s2.2-11.028.507-14.58Z' fill='%2309619e'/%3E%3Crect data-name='Прямоугольник 64' height='82.059' transform='translate(1920 7.984)' fill='%23FFF5E6'/%3E%3C/svg%3E");
$line-narrow-10:url("data:image/svg+xml,%3Csvg data-name='up curve 1' xmlns='http://www.w3.org/2000/svg' width='1920' height='90.043'%3E%3Crect data-name='Прямоугольник 63' width='1920' transform='translate(0 90.043)' fill='%23FFF5E6'/%3E%3Cpath data-name='Контур 105' d='M.507 75.463C477 98.543 1919.979 7.985 1920 7.984V0H0v90.043s2.2-11.028.507-14.58Z' fill='%23FFF5E6'/%3E%3Crect data-name='Прямоугольник 64' height='82.059' transform='translate(1920 7.984)' fill='%23FFF5E6'/%3E%3C/svg%3E");














$color-1:#5c6bb2;
$color-2:#efcfca;
$color-3:#190e40;
$color-4:#fcb81a;
$color-5:#b3dece;
$color-4:#fcb81a;
$color-6:#ace8ff;
$color-7:#3f9ba5;
$color-8:#dbdb73;
$color-9:#09619e;
$color-10:#FFF5E6;
$color-form:#707070;


/*====================themse-1=========================*/
    .themse-1.default-block .hero{
        &::before{
            background-image:$headerMainScreen-1; 
        }
    }

    .themse-1.default-block .hero-text{
        .hero-text__title{
            color: $color-1;
        }
    }

    .themse-1.default-block .info{
        background-color: $color-4;


        li::before{
            background-image: $bullet-4;
        }
    }

    .themse-1.default-block .new-single-post-section{
        &::after{
            background-image: $lineLeft-4;
        }
    }


    .themse-1.default-block .post-video-block{
        &::before{
            background-image: $leafColor-1;
        }
    }

    .themse-1.default-block .description{
        background-color: $color-1;
        li::before{
            background-image: $bullet-4;
        }
    }

    .themse-1.default-block .contact{
        &::after{
            background-image: $line-narrow-10;
        }

        .contact-input,
        .contact-textarea{
            background-color: $color-10;
            color: $color-form;
    
            &::placeholder{
                color: $color-form;
            }
        }

    }
/*====================/themse-1=========================*/


/*====================themse-2=========================*/
.themse-2.default-block .hero{
    &::before{
        background-image:$headerMainScreen-9; 
    }
}

.themse-2.default-block .hero-text{
    .hero-text__title{
        color: $color-9;
    }
}

.themse-2.default-block .info{
    background-color: $color-8;


    li::before{
        background-image: $bullet-8;
    }
}

.themse-2.default-block .new-single-post-section{
    &::after{
        background-image: $lineLeft-4;
    }
}


.themse-2.default-block .post-video-block{
    &::before{
        background-image: $leafColor-9;
    }
}

.themse-2.default-block .description{
    background-color: $color-9;
    li::before{
        background-image: $bullet-9;
    }
}

.themse-2.default-block .contact{
    &::after{
        background-image: $line-narrow-9;
    }

    .contact-input,
    .contact-textarea{
        background-color: $color-8;
        color: #000;

        &::placeholder{
            color: #000;
        }
    }

}
/*====================/themse-2=========================*/


.page-content.themse-1.default-block{
    .hero-bg--themes-1{
        display: block;
    }
    .hero-bg--themes-2{
        display: none;
    }
}

.themse-1{




    .default-block.hero.blue{
        &::before{
            background-image:$headerMainScreen-1; 
        }
    }
    .default-block.hero.light{
        &::before{
            background-image:$headerMainScreen-2; 
        }
    }
    .default-block.hero.purple{
        &::before{
            background-image:$headerMainScreen-3; 
        }
    }
    .default-block.hero.orange{
        &::before{
            background-image:$headerMainScreen-4; 
        }
    }
    .default-block.hero.lightGreen{
        &::before{
            background-image:$headerMainScreen-5; 
        }
    }

    .hero-text.default-block.blue{
        .hero-text__title{
            color:$color-1; 
        }
    }
    .hero-text.default-block.light{
        .hero-text__title{
            color:$color-2; 
        }
    }
    .hero-text.default-block.purple{
        .hero-text__title{
            color:$color-3; 
        }
    }
    .hero-text.default-block.orange{
        .hero-text__title{
            color:$color-4; 
        }
    }
    .hero-text.default-block.lightGreen{
        .hero-text__title{
            color:$color-5; 
        }
    }

    .info.default-block.blue{
        background-color: $color-1;
    
    
        li::before{
            background-image: $bullet-1;
        }
    }
    .info.default-block.light{
        background-color: $color-2;
    
    
        li::before{
            background-image: $bullet-2;
        }
    }
    .info.default-block.purple{
        background-color: $color-3;
    
    
        li::before{
            background-image: $bullet-3;
        }
    }
    .info.default-block.orange{
        background-color: $color-4;
    
    
        li::before{
            background-image: $bullet-4;
        }
    }
    .info.default-block.lightGreen{
        background-color: $color-5;
    
    
        li::before{
            background-image: $bullet-5;
        }
    }



    .new-single-post-section.default-block.blue{
        &::after{
            background-image: $lineLeft-1;
        }
    }

    .new-single-post-section.default-block.light{
        &::after{
            background-image: $lineLeft-2;
        }
    }

    .new-single-post-section.default-block.purple{
        &::after{
            background-image: $lineLeft-3;
        }
    }

    .new-single-post-section.default-block.orange{
        &::after{
            background-image: $lineLeft-4;
        }
    }

    .new-single-post-section.default-block.lightGreen{
        &::after{
            background-image: $lineLeft-5;
        }
    }

    .post-video-block.default-block.blue{
        &::before{
            background-image: $leafColor-1;
        }
    }

    .post-video-block.default-block.light{
        &::before{
            background-image: $leafColor-2;
        }
    }

    .post-video-block.default-block.purple{
        &::before{
            background-image: $leafColor-3;
        }
    }

    .post-video-block.default-block.orange{
        &::before{
            background-image: $leafColor-4;
        }
    }

    .post-video-block.default-block.lightGreen{
        &::before{
            background-image: $leafColor-5;
        }
    }

    .description.default-block.blue{
        background-color: $color-1;
    
    
        li::before{
            background-image: $bullet-1;
        }
    }
    .description.default-block.light{
        background-color: $color-2;
    
    
        li::before{
            background-image: $bullet-2;
        }
    }
    .description.default-block.purple{
        background-color: $color-3;
    
    
        li::before{
            background-image: $bullet-3;
        }
    }
    .description.default-block.orange{
        background-color: $color-4;
    
    
        li::before{
            background-image: $bullet-4;
        }
    }
    .description.default-block.lightGreen{
        background-color: $color-5;
    
    
        li::before{
            background-image: $bullet-5;
        }
    }

    .contact.default-block.blue{
        &::after{
            background-image: $line-narrow-1;
        }
    }

    .contact.default-block.light{
        &::after{
            background-image: $line-narrow-2;
        }
    }

    .contact.default-block.purple{
        &::after{
            background-image: $line-narrow-3;
        }
    }

    .contact.default-block.orange{
        &::after{
            background-image: $line-narrow-4;
        }
    }

    .contact.default-block.lightGreen{
        &::after{
            background-image: $line-narrow-5;
        }
    }

    .contact-form.default-block.blue{
        .contact-input,
        .contact-textarea{
            background-color: $color-1;
        }
    }

    .contact-form.default-block.light{
        .contact-input,
        .contact-textarea{
            background-color: $color-2;
        }
    }

    .contact-form.default-block.purple{
        .contact-input,
        .contact-textarea{
            background-color: $color-3;
        }
    }

    .contact-form.default-block.orange{
        .contact-input,
        .contact-textarea{
            background-color: $color-4;
        }
    }

    .contact-form.default-block.lightGreen{
        .contact-input,
        .contact-textarea{
            background-color: $color-5;
        }
    }
}

.page-content.themse-2.default-block{
    .hero-bg--themes-1{
        display: none;
    }
    .hero-bg--themes-2{
        display: block;
    }
}



.themse-2{





    .default-block.hero.orange{
        &::before{
            background-image:$headerMainScreen-4; 
        }
    }
    .default-block.hero.lightBlue{
        &::before{
            background-image:$headerMainScreen-6; 
        }
    }
    .default-block.hero.darkGreen{
        &::before{
            background-image:$headerMainScreen-7; 
        }
    }
    .default-block.hero.lightGreen{
        &::before{
            background-image:$headerMainScreen-8; 
        }
    }
    .default-block.hero.blue{
        &::before{
            background-image:$headerMainScreen-9; 
        }
    }



    .hero-text.default-block.orange{
        .hero-text__title{
            color:$color-4; 
        }
    }
    .hero-text.default-block.lightBlue{
        .hero-text__title{
            color:$color-6; 
        }
    }
    .hero-text.default-block.darkGreen{
        .hero-text__title{
            color:$color-7; 
        }
    }
    .hero-text.default-block.lightGreen{
        .hero-text__title{
            color:$color-8; 
        }
    }
    .hero-text.default-block.blue{
        .hero-text__title{
            color:$color-9; 
        }
    }





    .info.default-block.orange{
        background-color: $color-4;
    
    
        li::before{
            background-image: $bullet-4;
        }
    }
    .info.default-block.lightBlue{
        background-color: $color-6;
    
    
        li::before{
            background-image: $bullet-6;
        }
    }
    .info.default-block.darkGreen{
        background-color: $color-7;
    
    
        li::before{
            background-image: $bullet-7;
        }
    }
    .info.default-block.lightGreen{
        background-color: $color-8;
    
    
        li::before{
            background-image: $bullet-8;
        }
    }
    .info.default-block.blue{
        background-color: $color-9;
    
    
        li::before{
            background-image: $bullet-9;
        }
    }



    .new-single-post-section.default-block.orange{
        &::after{
            background-image: $lineLeft-4;
        }
    }

    .new-single-post-section.default-block.lightBlue {
        &::after{
            background-image: $lineLeft-6;
        }
    }

    .new-single-post-section.default-block.darkGreen {
        &::after{
            background-image: $lineLeft-7;
        }
    }

    .new-single-post-section.default-block.lightGreen{
        &::after{
            background-image: $lineLeft-8;
        }
    }

    .new-single-post-section.default-block.blue{
        &::after{
            background-image: $lineLeft-9;
        }
    }



    .post-video-block.default-block.orange{
        &::before{
            background-image: $leafColor-4;
        }
    }

    .post-video-block.default-block.lightBlue {
        &::before{
            background-image: $leafColor-6;
        }
    }

    .post-video-block.default-block.darkGreen {
        &::before{
            background-image: $leafColor-7;
        }
    }

    .post-video-block.default-block.lightGreen{
        &::before{
            background-image: $leafColor-8;
        }
    }

    .post-video-block.default-block.blue{
        &::before{
            background-image: $leafColor-9;
        }
    }



    .description.default-block.orange{
        background-color: $color-4;
    
    
        li::before{
            background-image: $bullet-4;
        }
    }
    .description.default-block.lightBlue {
        background-color: $color-6;
    
    
        li::before{
            background-image: $bullet-6;
        }
    }
    .description.default-block.darkGreen {
        background-color: $color-7;
    
    
        li::before{
            background-image: $bullet-7;
        }
    }
    .description.default-block.lightGreen{
        background-color: $color-8;
    
    
        li::before{
            background-image: $bullet-8;
        }
    }
    .description.default-block.blue{
        background-color: $color-9;
    
    
        li::before{
            background-image: $bullet-9;
        }
    }



    .contact.default-block.orange{
        &::after{
            background-image: $line-narrow-4;
        }
    }

    .contact.default-block.lightBlue     {
        &::after{
            background-image: $line-narrow-6;
        }
    }

    .contact.default-block.darkGreen  {
        &::after{
            background-image: $line-narrow-7;
        }
    }

    .contact.default-block.lightGreen {
        &::after{
            background-image: $line-narrow-8;
        }
    }

    .contact.default-block.blue     {
        &::after{
            background-image: $line-narrow-9;
        }
    }



    .contact-form.default-block.orange{
        .contact-input,
        .contact-textarea{
            background-color: $color-4;
        }
    }

    .contact-form.default-block.lightBlue {
        .contact-input,
        .contact-textarea{
            background-color: $color-6;
        }
    }

    .contact-form.default-block.darkGreen {
        .contact-input,
        .contact-textarea{
            background-color: $color-7;
        }
    }

    .contact-form.default-block.lightGreen{
        .contact-input,
        .contact-textarea{
            background-color: $color-8;
        }
    }

    .contact-form.default-block.blue     {
        .contact-input,
        .contact-textarea{
            background-color: $color-9;
        }
    }
}














.container{
    max-width: 56.666666666666664vw;
    margin: 0 auto;
}

    .hero{
        position: relative;
        padding-bottom: 3.125vw;
        &::before{
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            top: 0;
            left: 0;
            width: 100%;
            height: 11.354166666666666vw;
            display: block;
        }
        &::after{
            content: "";
            position: absolute;
            bottom: 9.635416666666666vw;
            left: 0;
            width: 100%;
            height: 10.416666666666666vw;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1922.001' height='113.413'%3E%3Cg data-name='Компонент 39 – 7'%3E%3Cpath data-name='Контур 87' d='M1921.5 112.913H2.673S-2.213-1.647 2.673.54C311.056 138.597 1921.5 55.121 1921.5 55.121Z' fill='%23fff' stroke='rgba(0,0,0,0)' stroke-miterlimit='10'/%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
        }
    }

    .hero-header{
        position: absolute;
        top: 3.90625vw;
        right: 7.8125vw;

        h1{
            font-family: "Assistant";
            font-size: 2.0833333333333335vw;
            line-height: 1.329;
            color: #fff;
        }
    }
    .hero-bg{

        .hero-bg--themes-1{
            display: block;
        }
        .hero-bg--themes-2{
            display: none;
        }


        img{
            height: 41.666666666666664vw;
        }

    }

    .hero-text {
        padding-top: 0px;
        padding-right: 5.3125vw;
        margin-top: -4.635416666666667vw;
        position: relative;
        z-index: 2;
    }
    .hero-text__title {
        font-family: 'Gulash';
        font-weight: 400; 
        font-size: 13.385416666666666vw;
        line-height: 1;
        display: inline-block;
        margin-left: 10px;
    }
    .hero-text__subtitle {
        font-family: "Assistant";
        font-size: 2.7604166666666665vw;
        font-weight: 600;
    }

    @media (max-width:990px) {
        .container{
            max-width: 100%;
        }
        .hero:before{
            height: 26.354166666666666vw;

        }
        .hero:after {
            height: 35.354166666666666vw;
        }
        .hero-header{
            h1{
                font-size: 6.0833333333333335vw;
            }
        }
        .hero-text__title{
            font-size: 31.385417vw;
        }
        .hero-text__subtitle{
            font-size: 6.0833333333333335vw;
        }
    }




    .info {
        padding-top: 1.3541666666666667vw;
        padding-bottom: 3.125vw;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            background-image: url("data:image/svg+xml,%3Csvg data-name='up curve 1' xmlns='http://www.w3.org/2000/svg' width='1920' height='90.043'%3E%3Crect data-name='Прямоугольник 63' width='1920' transform='translate(0 90.043)' fill='%23fff'/%3E%3Cpath data-name='Контур 105' d='M.507 75.463C477 98.543 1919.979 7.985 1920 7.984V0H0v90.043s2.2-11.028.507-14.58Z' fill='%23fff'/%3E%3Crect data-name='Прямоугольник 64' height='82.059' transform='translate(1920 7.984)' fill='%23fff'/%3E%3C/svg%3E");
            width: 100%;
            height: 4.6875vw;
            top: 0;
        }
        .info-wrapper{
            padding-top: 2.34375vw;
            max-width: 51.458333333333336vw;
            margin: 0 auto;
        }
        h2 {
            font-family: "Assistant";
            font-weight: bold;
            font-size: 1.5625vw;
            line-height: 1.33;
            margin-bottom: 0.4166666666666667vw;
            padding-top: 1.5625vw;
        }
    
        p{
            margin-bottom: 0.9895833333333334vw;
        }
        p,
        li {
            font-family: "Assistant";
            font-weight: 400;
            font-size: 1.25vw;
            line-height: 1.41;
        }
        
        li {
            position: relative;
            padding-right: 2.6041666666666665vw;
    
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                background-repeat: no-repeat;
                width: 1.3020833333333333vw;
                height: 1.3020833333333333vw;
            }
    
    
            &:not(:first-child){
                margin-top: 1.8229166666666667vw;
            }
        }
    
    }

    @media (max-width:990px) {
        .info {
            padding-top: 5.354167vw;
            padding-bottom: 5.125vw;
        }
        .info h2{
            font-size: 6.5625vw;
        }
        .info .info-wrapper {
            max-width: 85%;
        }
        .info li, .info p {
            font-size: 3.25vw;
        }
        .info li {
            padding-right: 7.604167vw;
        }
        .info li:before {
            width: 4.302083vw;
            height: 4.302083vw;
        }
    }

    .new-single-post-section .post-video-block{
        padding-bottom: 3.4271vw;
    }

    .new-single-post-section{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 6.197916666666667vw;
            background-repeat: no-repeat;
        }
    }

    .post-video-block{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            bottom: -40px;
            right: 4.635416666666667vw;
            background-repeat: no-repeat;
            width: 178px;
            height: 178px;
            z-index: 5;
        }
    }


    .new-single-post-section .default-block>.block-inner{
        width: 51.1979vw;
    }


    .video-card .card-image{
        height: 30.15625vw;
    }

    .video-card .card-caption{
        font-size: 1.875vw;
    }
    .video-card .card-text{
        font-size: 1.25vw;
    }

    @media (max-width:1700px) {
        .post-video-block{
            &::before{
                bottom: -77px;
            }
        }
    }

    @media (max-width:990px) {
        .new-single-post-section .default-block>.block-inner{
            width: 75.1979vw;
        }
        .video-card .card-image{
            height: 100%;
        }
        .video-card .card-caption {
            font-size: 6.875vw;
        }
        .video-card .card-text {
            font-size: 4.25vw;
        }
        .themse-1.default-block .post-video-block:before {
            display: none;
        }
    }







    .description {
        position: relative;
        padding-top: 83px;
        padding-bottom: 50px;
        color: #fff;
        &::after{
            content: "";
            position: absolute;
            background-image: url("data:image/svg+xml,%3Csvg data-name='up curve 1' xmlns='http://www.w3.org/2000/svg' width='1920' height='90.043'%3E%3Crect data-name='Прямоугольник 63' width='1920' transform='translate(0 90.043)' fill='%23fff'/%3E%3Cpath data-name='Контур 105' d='M.507 75.463C477 98.543 1919.979 7.985 1920 7.984V0H0v90.043s2.2-11.028.507-14.58Z' fill='%23fff'/%3E%3Crect data-name='Прямоугольник 64' height='82.059' transform='translate(1920 7.984)' fill='%23fff'/%3E%3C/svg%3E");
            width: 100%;
            height: 90px;
            top: 0;
        }
        h2 {
            font-family: "Assistant";
            font-weight: bold;
            font-size: 40px;
            line-height: 1.325;
            margin-bottom: 15px;
        }
        p{
           margin-bottom: 25px; 
        }
        p,
        li{
            font-family: "Assistant";
            font-weight: 400;
            font-size: 24px;
            line-height: 1.416;
        }
        ul{
            margin-bottom: 20px;
        }
        li{
            font-weight: 600;
            position: relative;
            padding-right: 50px;
    
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                background-repeat: no-repeat;
                width: 32px;
                height: 32px;
            }
            
            &:not(:first-child){
                margin-top: 20px;
            }
        }
    
    }

    @media (max-width:990px) {
        .description {
            padding-top: 50px;
            padding-bottom: 5.125vw;
        }
        .description h2{
            font-size: 6.5625vw;
            padding-top: 6.5625vw;
        }
        .description li, .description p {
            font-size: 3.25vw;
        }
        .description li {
            padding-right: 7.604167vw;
        }
        .description li:before {
            width: 4.302083vw;
            height: 4.302083vw;
        }
    }



    .contact {
        padding-bottom: 20px;
        padding-top: 80px;
        position: relative;


        &::after{
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 90px;
            top: 0;
        }
    }

    .contact-wrapper{
        max-width: 1127px;
        margin: 0 auto;
    }


    @media (max-width:1350px) {
        .contact-wrapper{
            padding: 0 90px;
        }
    }
    
    @media (max-width:700px) {
        .contact-wrapper{
            padding: 0 60px;
        }
    }
    @media (max-width:400px) {
        .contact-wrapper{
            padding: 0 40px;
        }
    }
    .contact-title {
        color: #FC4C4D;
        margin-bottom: 30px;
        font-size: 67px;
        font-weight: 400;
        font-family: "Assistant";
        
        strong{
            font-size: 40px;
            font-weight: 300;
        }
    }

    .contact-input,
    .contact-textarea{
        display: block;
        width: 100%;
        outline: none;
        border: none;
        border-radius: 2px;
        padding: 20px 35px 20px 35px;
        font-family: "Assistant";
        font-size: 30px;
        line-height: 1;
        font-weight: 400;

        &::placeholder{
            font-family: "Assistant";
            font-size: 30px;
            font-weight: 400;
        }
    }

    .contact-input {
        &:not(:first-child){
            margin-top: 20px;
        }
    }
    .contact-textarea {
        margin-top: 20px;
        height: 193px;
        padding-bottom: 20px;
        resize: none;
        overflow: auto;
    }

    .contact-btn{
        background-color: #FC4C4D;
        color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 89px;
        padding-right: 74px;
        font-size: 30px;
        display: block;
        margin-right: auto;
    }

    @media (max-width:780px) {
        .contact{
            .contact-title{
                font-size: 50px;
            }

            .contact-input,
            .contact-textarea{
                font-size: 20px;
        
                &::placeholder{
                    font-size: 20px;
                }
            }
            .contact-btn{
                font-size: 20px;
            }
        }   
    }


@media (max-width:500px) {
    .contact{
        .contact-title{
            font-size: 50px;
        }

        .contact-input,
        .contact-textarea{
            font-size: 20px;
    
            &::placeholder{
                font-size: 20px;
            }
        }
        .contact-btn{
            font-size: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 50px;
            padding-right: 50px;
        }
    }   
}
@media (max-width:400px) {
    .contact{
        .contact-wrapper{
            .contact-title{
                font-size: 30px;
            }
            .contact-title strong {
                font-size: 30px;
            }
        }
    } 
}