
$color-1:#5c6bb2;
$color-2:#efcfca;
$color-3:#190e40;
$color-4:#fcb81a;
$color-5:#b3dece;
$color-6:#ace8ff;
$color-7:#3f9ba5;
$color-8:#dbdb73;
$color-9:#09619e;



$headerMainScreen-1:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1925.89 208.44'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M1920.72 0H0s2.2 104.16.51 109.37c254.36-18.06 814 43.57 814 43.57s634.39 58.45 1106.17 55.39h5.17V1Z' style='fill:%235c6bb2' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$headerMainScreen-2:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1925.89 208.44'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M1920.72 0H0s2.2 104.16.51 109.37c254.36-18.06 814 43.57 814 43.57s634.39 58.45 1106.17 55.39h5.17V1Z' style='fill:%23efcfca' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$headerMainScreen-3:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1925.89 208.44'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M1920.72 0H0s2.2 104.16.51 109.37c254.36-18.06 814 43.57 814 43.57s634.39 58.45 1106.17 55.39h5.17V1Z' style='fill:%23190e40' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$headerMainScreen-4:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1925.89 208.44'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M1920.72 0H0s2.2 104.16.51 109.37c254.36-18.06 814 43.57 814 43.57s634.39 58.45 1106.17 55.39h5.17V1Z' style='fill:%23fcb81a' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$headerMainScreen-5:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1925.89 208.44'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M1920.72 0H0s2.2 104.16.51 109.37c254.36-18.06 814 43.57 814 43.57s634.39 58.45 1106.17 55.39h5.17V1Z' style='fill:%23b3dece' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$headerMainScreen-6:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1925.89 208.44'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M1920.72 0H0s2.2 104.16.51 109.37c254.36-18.06 814 43.57 814 43.57s634.39 58.45 1106.17 55.39h5.17V1Z' style='fill:%23ace8ff' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$headerMainScreen-7:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1925.89 208.44'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M1920.72 0H0s2.2 104.16.51 109.37c254.36-18.06 814 43.57 814 43.57s634.39 58.45 1106.17 55.39h5.17V1Z' style='fill:%233f9ba5' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$headerMainScreen-8:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1925.89 208.44'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M1920.72 0H0s2.2 104.16.51 109.37c254.36-18.06 814 43.57 814 43.57s634.39 58.45 1106.17 55.39h5.17V1Z' style='fill:%23dbdb73' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
$headerMainScreen-9:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1925.89 208.44'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M1920.72 0H0s2.2 104.16.51 109.37c254.36-18.06 814 43.57 814 43.57s634.39 58.45 1106.17 55.39h5.17V1Z' style='fill:%2309619e' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");






$bullet-1:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.94 21.9'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 88' d='M20.23 19.13C23 17.08 29.74 11 23.12 5.29S9.49-1.54 5.22 2.1-3.23 12.58 3.68 19s16.55.13 16.55.13Z' style='fill:%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$bullet-2:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.94 21.9'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 88' d='M20.23 19.13C23 17.08 29.74 11 23.12 5.29S9.49-1.54 5.22 2.1-3.23 12.58 3.68 19s16.55.13 16.55.13Z' style='fill:%23fc4c4d'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$bullet-3:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.94 21.9'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 88' d='M20.23 19.13C23 17.08 29.74 11 23.12 5.29S9.49-1.54 5.22 2.1-3.23 12.58 3.68 19s16.55.13 16.55.13Z' style='fill:%23fcb81a'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$bullet-4:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.94 21.9'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 88' d='M20.23 19.13C23 17.08 29.74 11 23.12 5.29S9.49-1.54 5.22 2.1-3.23 12.58 3.68 19s16.55.13 16.55.13Z' style='fill:%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$bullet-5:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.94 21.9'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 88' d='M20.23 19.13C23 17.08 29.74 11 23.12 5.29S9.49-1.54 5.22 2.1-3.23 12.58 3.68 19s16.55.13 16.55.13Z' style='fill:%23fc4c4d'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$bullet-6:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.94 21.9'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 88' d='M20.23 19.13C23 17.08 29.74 11 23.12 5.29S9.49-1.54 5.22 2.1-3.23 12.58 3.68 19s16.55.13 16.55.13Z' style='fill:%23fc4c4d'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$bullet-7:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.94 21.9'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 88' d='M20.23 19.13C23 17.08 29.74 11 23.12 5.29S9.49-1.54 5.22 2.1-3.23 12.58 3.68 19s16.55.13 16.55.13Z' style='fill:%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$bullet-8:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.94 21.9'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 88' d='M20.23 19.13C23 17.08 29.74 11 23.12 5.29S9.49-1.54 5.22 2.1-3.23 12.58 3.68 19s16.55.13 16.55.13Z' style='fill:%23fc4c4d'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$bullet-9:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.94 21.9'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath data-name='Path 88' d='M20.23 19.13C23 17.08 29.74 11 23.12 5.29S9.49-1.54 5.22 2.1-3.23 12.58 3.68 19s16.55.13 16.55.13Z' style='fill:%23fcb81a'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");




.hero.color-1{
    &::before{
        background-image: $headerMainScreen-1 !important;
    }

    .hero-header{
        h1{
            color: #fff !important;
        }
    }
}
.hero.color-2{
    &::before{
        background-image: $headerMainScreen-2 !important;
    }
        .hero-header{
        h1{
            color: #313131 !important;
        }
    }
}
.hero.color-3{
    &::before{
        background-image: $headerMainScreen-3 !important;
    }
        .hero-header{
        h1{
            color: #fff !important;
        }
    }
}
.hero.color-4{
    &::before{
        background-image: $headerMainScreen-4 !important;
    }
        .hero-header{
        h1{
            color: #313131 !important;
        }
    }
}
.hero.color-5{
    &::before{
        background-image: $headerMainScreen-5 !important;
    }
        .hero-header{
        h1{
            color: #313131 !important;
        }
    }
}
.hero.color-6{
    &::before{
        background-image: $headerMainScreen-6 !important;
    }
        .hero-header{
        h1{
            color: #313131 !important;
        }
    }
}
.hero.color-7{
    &::before{
        background-image: $headerMainScreen-7 !important;
    }
        .hero-header{
        h1{
            color: #313131 !important;
        }
    }
}
.hero.color-8{
    &::before{
        background-image: $headerMainScreen-8 !important;
    }
        .hero-header{
        h1{
            color: #313131 !important;
        }
    }
}
.hero.color-9{
    &::before{
        background-image: $headerMainScreen-9 !important;
    }
        .hero-header{
        h1{
            color: #fff !important;
        }
    }
}


.info.color-1,
.description.color-1{
    background-color: $color-1 !important;
    color: #fff !important;

    .info-item::before
    .description-item::before{
        background-image: $bullet-1 !important;
    }
}
.info.color-2,
.description.color-2{
    background-color: $color-2 !important;
    color: #313131 !important;
    
    .info-item::before,
    .description-item::before{
        background-image: $bullet-2 !important;
    }
}
.info.color-3,
.description.color-3{
    background-color: $color-3 !important;
    color: #fff !important;
    
    .info-item::before,
    .description-item::before{
        background-image: $bullet-3 !important;
    }
}
.info.color-4,
.description.color-4{
    background-color: $color-4 !important;
    color: #313131 !important;
    
    .info-item::before,
    .description-item::before{
        background-image: $bullet-4 !important;
    }
}
.info.color-5,
.description.color-5{
    background-color: $color-5 !important;
    color: #313131 !important;
    
    .info-item::before,
    .description-item::before{
        background-image: $bullet-5 !important;
    }
}
.info.color-6,
.description.color-6{
    background-color: $color-6 !important;
    color: #313131 !important;
    
    .info-item::before,
    .description-item::before{
        background-image: $bullet-6 !important;
    }
}
.info.color-7,
.description.color-7{
    background-color: $color-7 !important;
    color: #313131 !important;
    
    .info-item::before,
    .description-item::before{
        background-image: $bullet-7 !important;
    }
}
.info.color-8,
.description.color-8{
    background-color: $color-8 !important;
    color: #313131 !important;
    
    .info-item::before,
    .description-item::before{
        background-image: $bullet-8 !important;
    }
}
.info.color-9,
.description.color-9{
    background-color: $color-9 !important;
    color: #fff !important;
    
    .info-item::before,
    .description-item::before{
        background-image: $bullet-9 !important;
    }
}











.themse-2{

    .container{
        max-width: 1088px;
        margin: 0 auto;
    }


    .hero{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            background-image:$headerMainScreen-9; 
            background-repeat: no-repeat;
            top: 0;
            left: 0;
            width: 100%;
            height: 210px;
        }
        &::after{
            content: "";
            position: absolute;
            bottom: 290px;
            left: 0;
            width: 100%;
            height: 200px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1922.001' height='113.413'%3E%3Cg data-name='Компонент 39 – 7'%3E%3Cpath data-name='Контур 87' d='M1921.5 112.913H2.673S-2.213-1.647 2.673.54C311.056 138.597 1921.5 55.121 1921.5 55.121Z' fill='%23fff' stroke='rgba(0,0,0,0)' stroke-miterlimit='10'/%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
        }
    }

    .hero-header{
        position: absolute;
        top: 75px;
        right: 150px;

        h1{
            font-family: "Assistant";
            font-size: 40px;
            line-height: 1.329;
            color: #fff;
        }
    }
    .hero-bg{

        .hero-bg--themes-1{
            display: none;
        }
        .hero-bg--themes-2{
            display: block;
        }


        img{
            height: 800px;
        }

    }

    .hero-text {
        padding-top: 61px;
        padding-right: 102px;
        padding-bottom: 169px;
        position: relative;
    }
    .hero-text__title {
        color: $color-1;
        font-size: 70px;
    }
    .hero-text__subtitle {
        font-family: "Assistant";
        font-size: 53px;
        font-weight: 600;
    }

    .info {
        padding-top: 71px;
        padding-bottom: 190px;
        position: relative;
        background-color: $color-8;

        &::after{
            content: "";
            position: absolute;
            background-image: url("data:image/svg+xml,%3Csvg data-name='up curve 1' xmlns='http://www.w3.org/2000/svg' width='1920' height='90.043'%3E%3Crect data-name='Прямоугольник 63' width='1920' transform='translate(0 90.043)' fill='%23fff'/%3E%3Cpath data-name='Контур 105' d='M.507 75.463C477 98.543 1919.979 7.985 1920 7.984V0H0v90.043s2.2-11.028.507-14.58Z' fill='%23fff'/%3E%3Crect data-name='Прямоугольник 64' height='82.059' transform='translate(1920 7.984)' fill='%23fff'/%3E%3C/svg%3E");
            width: 100%;
            height: 90px;
            top: 0;
        }
    }
    .info-wrapper{
        max-width: 957px;
        margin: 0 auto;
    }
    .info-title {
        font-family: "Assistant";
        font-weight: bold;
        font-size: 30px;
        line-height: 1.33;
        margin-bottom: 8px;
    }

    .info-subtitle{
        margin-bottom: 19px;
    }
    .info-subtitle,
    .info-item {
        font-family: "Assistant";
        font-weight: 400;
        font-size: 20px;
        line-height: 1.41;
    }
    .info-item {
        position: relative;
        padding-right: 40px;

        &::before{
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            background-image: $bullet-2;
            background-repeat: no-repeat;
            width: 32px;
            height: 32px;
        }


        &:not(:first-child){
            margin-top: 35px;
        }
    }



    .post-video-block{
        position: relative;

        &::before{
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 200px;
            // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1922' height='202.917'%3E%3Cpath data-name='Контур 21' d='M1724.523 164.073s6.092-24.257 2.431-34.027c-3.439-9.175-77.922-54.785-68.054-69.27 17.819-26.157 52.289 36.9 54.686 40.1 29.156 38.936 4.9-102.537 36.458-100.867 45.7 2.418-10.536 85.639-13.368 117.88-1.493 16.991 60.087-67.986 69.121-50.027 17.857 35.495-25.869 35.57-43.654 50.93-12.509 10.8-27.432 24.683-24.252 50.122.809 6.474-13.368-4.841-13.368-4.841Z' fill='%235d6bb2'/%3E%3Cg data-name='Прямоугольник 80'%3E%3Cpath d='M0 165.917h1922v37H0z'/%3E%3Cpath fill='none' d='M.5 166.417h1921v36H.5z'/%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            z-index: 2;
        }


        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 119px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1920.388' height='119'%3E%3Cpath data-name='Path 85' d='M.038 119c990.964-7.082 1406.855-76.724 1918.259-62.561 2.811.078 1.976-56.439 1.976-56.439H.038s-.085 118.746 0 119Z' fill='%23fcb71a'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
        }
    }



    .description {
        background-color: $color-9;
        position: relative;
        padding-top: 83px;
        padding-bottom: 140px;
        color: #fff;
        &::after{
            content: "";
            position: absolute;
            background-image: url("data:image/svg+xml,%3Csvg data-name='up curve 1' xmlns='http://www.w3.org/2000/svg' width='1920' height='90.043'%3E%3Crect data-name='Прямоугольник 63' width='1920' transform='translate(0 90.043)' fill='%23fff'/%3E%3Cpath data-name='Контур 105' d='M.507 75.463C477 98.543 1919.979 7.985 1920 7.984V0H0v90.043s2.2-11.028.507-14.58Z' fill='%23fff'/%3E%3Crect data-name='Прямоугольник 64' height='82.059' transform='translate(1920 7.984)' fill='%23fff'/%3E%3C/svg%3E");
            width: 100%;
            height: 90px;
            top: 0;
        }
    }
    .description-title {
        font-family: "Assistant";
        font-weight: bold;
        font-size: 40px;
        line-height: 1.325;
        margin-bottom: 15px;
    }
    .description-subtile{
       margin-bottom: 25px; 
    }
    .description-subtile,
    .description-item {
        font-family: "Assistant";
        font-weight: 400;
        font-size: 24px;
        line-height: 1.416;
    }
    .description-list {
        margin-bottom: 20px;
    }
    .description-item {
        font-weight: 600;
        position: relative;
        padding-right: 35px;

        &::before{
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            background-image: $bullet-3;
            background-repeat: no-repeat;
            width: 32px;
            height: 32px;
        }
        
        &:not(:first-child){
            margin-top: 20px;
        }
    }




    .contact {
        padding-bottom: 200px;
        padding-top: 80px;
        position: relative;


        &::after{
            content: "";
            position: absolute;
            background-image: url("data:image/svg+xml,%3Csvg data-name='up curve 1' xmlns='http://www.w3.org/2000/svg' width='1920' height='90.043'%3E%3Crect data-name='Прямоугольник 63' width='1920' transform='translate(0 90.043)' fill='%23FFF5E6'/%3E%3Cpath data-name='Контур 105' d='M.507 75.463C477 98.543 1919.979 7.985 1920 7.984V0H0v90.043s2.2-11.028.507-14.58Z' fill='%23FFF5E6'/%3E%3Crect data-name='Прямоугольник 64' height='82.059' transform='translate(1920 7.984)' fill='%23FFF5E6'/%3E%3C/svg%3E");
            width: 100%;
            height: 90px;
            top: 0;
        }
    }
    .contact-title {
        color: #FC4C4D;
        margin-bottom: 30px;
        font-size: 67px;
        font-weight: 400;
        font-family: "Assistant";
        
        strong{
            font-size: 40px;
            font-weight: 300;
        }
    }

    .contact-input,
    .contact-textarea{
        display: block;
        width: 100%;
        background-color: $color-8;
        outline: none;
        border: none;
        border-radius: 2px;
        padding: 30px 35px 25px 35px;
        font-family: "Assistant";
        font-size: 18px;
        font-weight: 400;

        &::placeholder{
            font-family: "Assistant";
            font-size: 18px;
            font-weight: 400;
        }
    }

    .contact-input {
        &:not(:first-child){
            margin-top: 20px;
        }
    }
    .contact-textarea {
        margin-top: 20px;
        resize: none;
    }

    .contact-btn{
        background-color: #FC4C4D;
        color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 89px;
        padding-right: 74px;
        font-size: 30px;
        display: block;
        margin-right: auto;
    }


}